Passenger does not handle duplicate header fields

_From [choareau@ngmoco.com](https://code.google.com/u/116609884494493666612/) on May 05, 2012 00:06:40_

Passenger 3.0.12 does not comply with the HTTP 1.1 requirement for handling duplicate header fields, as described in RFC 2616, section 4.2 ( http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html ).

Instead of combining the multiple header fields in a comma-seperated string, Passenger only keeps the last occurence. 

Here's a sample `config.ru`:

```
require 'pp'
app = lambda do |env|
  pp env
  [200, {'Content-Type' => 'text/plain'}, ['']]
end

run app
```

Here's a sample request:

```
curl localhost:3000 -H 'X-Forwarded-For:127.0.0.1' -H 'X-Forwarded-For:127.0.0.2'
```

 Looking at the X-Forwarded-For header, we see:

```
"HTTP_X_FORWARDED_FOR"=>"127.0.0.2",
```

Instead of:

```
"HTTP_X_FORWARDED_FOR"=>"127.0.0.1, 127.0.0.2",
```

_Original issue: http://code.google.com/p/phusion-passenger/issues/detail?id=757_
